
/*----Tulivery - TEMPLATE*/
/*-------------------------------------------------------*/
/*1.- FUENTES ..............*/
/*2.- GENERAL ..............*/
/*3.- BOTONES ..............*/
/*4.- LOGIN ................*/

/*============================= INICIO =====================*/

/*1.-FUENTES...........*/
/*==============================================================*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

/*2.-GENERAL...........*/
/*==============================================================*/
.jumbotronbg{
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
  height:100%;
  margin-bottom: 0rem; 
}
.ltlight{
  font-size: 14px;
}
.btn-fticon {
    background-color: #fff;
    border-radius: 7px;
    font-size: 27px;
    padding: 3px 11px 0px 13px;
    margin-right: 5px;
    color: #ef4e35;
}

.btn-fticon3 {
    background-color: #fff;
    border-radius: 7px;
    font-size: 27px;
    padding: 3px 8px 0px 8px;
    margin-right: 5px;
    color: #ef4e35;
}

.btn-fticon2 {
    border-radius: 7px;
    font-size:40px;
    padding: 3px 3px 0px 0px;
    color: #fff;
}
.btn-fticon4:hover {
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-color: #46464F;
}
  .btn-fticon4 {
  font-size:40px;
  padding: 0px 0px 0px 0px;
  -webkit-text-fill-color: #46464F;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
.navbar-dark .navbar-nav .nav-link:hover,.navbar-dark .navbar-nav .active a {
    color: #ef4e35!important;
}
.navLogo .navbar-nav {
    padding-top: 10px;
    font-size: 17px;
    margin: 0px;
    font-weight: 500;
    
    padding-right: 20px;
    .nav-item{
      padding-right: 10px;
      text-align: right;
      color: #fff!important;
    }
    span{
      -webkit-text-fill-color: #46464F;
      -webkit-text-stroke-color: #fff;
      -webkit-text-stroke-width: 1.50px; 
      i{
        font-size: 37px;
        padding-top: 0px;

      }
    }
}
.imgresp {
    /*flex-direction: row;*/
}
.imgresp .imgResponsive {
    width: 100%;
    height: 140px !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-descr{
  font-size: 12px;
  text-align: justify;
}
.card {
     border: 0px solid rgba(0,0,0,0.125); 
}
.greybg{
  background-color: #E6E6E6;
}
.graycolor{
  color: #E6E6E6;
}
.whitebg{
  background-color: #fff;
}
.yelowbg{
  background-color: #f7f7f7;
}
.bgstore{
 height: 270px;
}
.tiendaIco {
  .circle{
    height: 120px;
    width: 120px !important;
    background-color: #fff;
    /*outline:1px solid;*/
  }
  img{
    width: 96%;
  }
}
.closebtn:hover{
  background: #ea4335;
}
.closebtn{
    left: -11px;
    top: -3px;
    background: #b5b5b5;
    border-radius: 26%;
    width: 24px;
    height: 24px;
    padding: 1px 5px;
    color: #fff !important;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
}
 #spinner > .form-control:not(:first-child), #spinner > .custom-select:not(:first-child) {
  background-color: rgba(0,0,0,0)!important;
  border: none !important;
  margin-top: -5px;
  font-size: 19px;
  display: inline-flex !important;
}
.sepCarro{
  border-top: 2px dashed #d0d0d0;
}
.detalleCarro{
  border-top: 2px dashed #d0d0d0;
  .rightcontent{
    text-align: -webkit-right;
    padding-bottom: 20px;
    margin-bottom: 10px;
    .form-control {
        padding: 0rem 0rem;
    }
  }
  p{
    line-height: 10px;
    margin-top: 0;
    margin-bottom: 0.3rem;
  }
}
#spinner {
  max-width: 56%;
  display: inline-flex;
  button{
    border-radius: 50%!important;
  }
}

.smallleter{
  font-size: 12px;
}
.borderRB{
  border-right: 2px solid #ebebeb;
}
.dirDetalle.active{
  background-color: #eee;
}
.dirDetalle{
  cursor: pointer;
  border-top: 1px solid #eee; 
  p{
    line-height: 10px;
    margin-top: 0;
    margin-bottom: 0.3rem;
  }
}
.dirDetalle:hover{
  background-color: #eee;
}
.whiteletter{
  color:#fff;
}

.totalCarro{
  padding: 0px 10px 30px 10px;
  button{
    border-radius: 50px;
    font-size: 18px;
    text-align: center;
    padding: 10px 25px;
    margin-top: 20px;
  }
}

h4,h5{
 color: #46464F!important;
}
footer h4, footer h5{
 color: #ffffff!important;
}

.calificacion{

  .ranking .rank{
    width:160px!important;
    display: inline-flex;
  }
}


.informacion .card{
  padding-top: 20px!important;
  padding-bottom: 20px!important;
  .line2{
    font-size:18px;
    line-height: 8px;
  }
}

.btn-danger {
    color: #fff;
    background-color: #ef4e35;
    border-color: #ef4e35;
}
.btn-danger:hover {
    color: #fff;
    background-color: #cc3b25;
    border-color: #cc3b25;
}
.btn-primary{
  background-color:#0062B3;
}

.btn-success{
    border-color: #39C979;
    background-color:#39C979;
}

.barlogo {
  border-left: 1px solid #fff;
  margin-top: 14px;
  padding: 5px 10px;
}

/*3.-NAV-BAR...........*/
/*==============================================================*/
.navLogo{
  background-color: #46464F !important;
  min-height: 90px; 
  max-height: 90px; 
  color:#fff;
  font-size: 16px;
  a .logoline{
    height: 40px;
 
    padding-right: 10px;
    margin-right: 10px;
  }
  a .logo{
    height: 40px;
    padding-right: 10px;
    margin-right: 10px;
  }
  .store{
    height: 70px;

  }

  .navbar-nav{
    padding: 0px;
    margin: 0px;
    .elm{
      margin-right: 15px; 
      padding-top: 10px;
    }
    .btnli{
      background-color: #ef4e35;
      height: 70px;
      border-radius: 5px;
      .nav-link{
        margin: 0px;
        font-weight: bold;
        color:#fff !important;
        padding: 0px;
        display: flex;
        align-items:center;
        .textmid{
          vertical-align:middle;
          padding-right: 10px;
          padding-left: 10px;
          line-height: 20px;
        }
      }
    }
  }
}
.redletter{
    color: #ef4e35!important;
    font-size:30px;
  }
  .plomo{
    color: #46464F!important;
    .bg-body{
      background-color:#46464F; 
    }
    button{
      color: #46464F!important;
      font-weight: bold;
      font-size:20px;
      background-color: #fff;
    }
    button:hover,button:focus{
      background-color: #eee;
    }
    h2{
     color: #fff;
    }
  }
  .verde{
    color: #39C979!important;
    .bg-body{
      background-color:#39C979; 
    }
     button{
      color: #39C979!important;
      font-weight: bold;
      font-size:20px;
      background-color: #fff;
    }
    button:hover,button:focus{
      background-color: #eee;
    }
     h2{
     color: #fff;
    }
  }
  .rojo{
    color: #ef4e35!important;
    .bg-body{
      background-color:#ef4e35; 
    }
    button{
      color: #ef4e35!important;
      font-weight: bold;
      font-size:20px;
      background-color: #fff;
    }
    button:hover,button:focus{
      background-color: #eee;
    }
     h2{
     color: #fff;
    }
  }
  .text-det{
      color: #fff!important;
      padding: 10px 10px;
      font-size: 20px;
      border-bottom: 1px solid #eee;
      font-weight: 100;
      text-align: left;
    }
  .headerprice{
    text-transform: uppercase;
    background-color: #fff;
    padding: 15px 0px;
    font-weight: bold;
    font-size: 26px;

  }

/*3.-BOTONES...........*/
/*==============================================================*/
.circle{
  text-align: center;
  border-radius: 50%;
  height: 110px;
  width: 110px!important;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 10vh;
  cursor: pointer;
  img{
    text-align: center;
    vertical-align: middle;
  }
}

.tiendaIco{
    width: 100px;
    height: 100px;
    z-index: 1031;
    left: 13%;
    top: 25px;
    position: fixed;
}

.inicioIco{
  display: none;
  width: 50px;
  height: 50px;
  z-index: 1031;
  left: 6.5%;
  top: 15px;
  position: fixed;
}

.tiendaIco:before {
    width: 138px;
    height: 138px;
    position: absolute;
    border-radius: 50%;
    content: '';
    background-color: rgba(255,255,255,0);
    border: 9px solid rgba(255,255,255,0.5);
    z-index: 11;
    top: -9px;
    left: -9px;
}

/*4.-EFFECT.............*/
/*==============================================================*/

.hovicon:after {
    pointer-events: none;
    position: absolute;
    margin-left: 15px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hovicon:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

/* Effect 1 */
 .hovicon.effect-1 {
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.hovicon.effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}
/* Effect 1a */
 .hovicon.effect-1.sub-a:hover {
    background: rgba(255, 255, 255, 1);
    color: #41ab6b;
}
.hovicon.effect-1.sub-a:hover i {
    color: #41ab6b;
}
.hovicon.effect-1.sub-a:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
/* Effect 1b */
 .hovicon.effect-1.sub-b:hover {
    background: rgba(255, 255, 255, 1);
    color: #41ab6b;
}
.hovicon.effect-1.sub-b:hover i {
    color: #41ab6b;
}
.hovicon.effect-1.sub-b:after {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.hovicon.effect-1.sub-b:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}


/*5.-MAIN.............*/
/*==============================================================*/
.imgresp .imgResponsive2 {
   width: 100%;
   height: 125px !important;
   background-size: cover;
   background-position: center;
   overflow: hidden;
}

.separadoronly{
  border-top: 2px solid #eee;
}
.separadorup{
  border-bottom: 2px solid #eee;
}
.separadorup:last-child {
  border-bottom: none;
}

#main{
  color: #46464F;
  .card{
    padding-bottom: 30px; 
    padding-top: 30px; 
    button{
      border-radius: 50px;
    }
  }
  .separador{
    border-bottom: 1px solid #eee;
  }
  .separadorup{
    border-top: 2px solid #ddd;
  }
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    .imgresp{
      margin-top: 8px;
      text-align: left;
      vertical-align: bottom;
      background-color: #ea4335;
      a{
        text-decoration: none;
      }
      div p:hover, div .active{
        background: #ef4e35;
        opacity: 0.8;
      }
      p{
        position: relative;
        top: 0px;
        padding: 13px 8px 3px 8px;
        left: 0px;
        font-weight: bold;
        color: white;
        width: 100%;
        height: 100%;
        span{
          opacity: 1 !important;
        }
      }
    }
  }
}

/*5.-FOOTER.............*/
/*==============================================================*/
footer{
  background-color: #ef4e35;
  color: #fff;
  font-size: 14px;
  a{
    color: #fff;
  }
  a{
    color: #fff;
  }
  .logo{
    padding-bottom: 15px;
    padding-top: 27px;
  }
  li{
    padding-bottom: 4px;
  }
}

@media (min-width: 1200px) {
  .container {
    min-width: 1200px !important;
  }
  .inicioIco{
    display: block;
  }
}

@media (min-width: 1900px) {
  .container {
    min-width: 1600px !important;
    
  }
  
  .containerv2{
    padding: 0px 60px;
  }
}
/*6.OFF CANVAS--------*/


body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
  padding-top: 56px;
}

@media (max-width: 1200px) {
  .navLogo .navbar-nav a h6{
      font-size: 13px!important;
  }
}
@media (max-width: 991.98px) {
  .closebtn{
    position: initial;
}
  .navbar-nav{
    padding: 0px;
    margin: 0px;
    li{
      margin-top: 20px;
    }
  }
  .navLogo a .logo {
      border-right: 0px solid #fff;
  }
  .navLogo{
    .tittle{
      display: none;
    }
  }
  .offcanvas-collapse {
    position: fixed;
    top: 86px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    &.open {
      left: 0;
      visibility: visible;
    }
  }
  .profile ul{
    text-align: center;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

.nav-underline {
  .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
    &:hover {
      color: #007bff;
    }
  }
  .active {
    font-weight: 500;
    color: #343a40;
  }
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}


.cardRanking{
  border: 1px solid #ddd;
  .valoracion{
    background-color: #ef4e35;
    padding: 10px;
    position: relative;
    top: 0px;
    left: -17px;
    width: 60px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }
  .starProm{
    position: absolute;
    right: 0px;
    top: 13px;
    width: 120px;

  }
  .detalle{
    margin-left: 4rem !important;
    position: relative;
    top: -20px;
  }

}

.nav-order  {
  display: -webkit-box;
  li{
    width: 53%;
    padding: 0px;
  }
}
.nav-order .nav-link {
    border-radius: .25rem;
    border-radius: 0px;
    font-weight: bold;
    padding: 0px;
    width: 80%;
}

.nav-order .nav-link img{
    background: #CCCCCC;
    padding: 10px 10px;
    border-radius: 25px;
    width: 100%;

}

.nav-order .nav-link {
    background: #fff!important;
    color: #46464f!important;
    padding: 0px!important;
}

.nav-order .nav-link.active, .nav-order .show>.nav-link {
    font-weight: bold;
    background-color: #ffffff!important;
    color: #46464f!important;

    img{
      background: #ef4e35;
      padding: 10px 10px;
      border-radius: 25px;
      width: 100%;
  }
}

.nav-pills .nav-link {
    border-radius: .25rem;
    color: #444;
    background: #fff;
    border-radius: 0px;
    font-weight: bold;
    padding: 17px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    font-weight: bold;
    color: #fff;
    background-color: #46464f;
}

.formLogin .form-control {
    padding: 0.375rem 0.7rem;
    border-radius: 12px;
    height: 40px;
}
.formLogin select {
    border-radius: 12px;
    height: 40px;
}

.formPedido .form-control {
    padding: 0.375rem 2.9rem;
}

.rounded{
    height: 46px;
    border-radius: 12px!important;
}

.formPedido .input{
  border: 1px #999999 solid;
  margin-top: 10px;
}
.formPedido input:focus,
.formPedido select:focus,
.formPedido textarea:focus,
.formPedido button:focus {
    /*outline: none;*/
  border: 1px #46464F solid;
  i{
    color: #46464F!important;
  }
  .linear{
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-color: #46464F;
    -webkit-text-stroke-width: 1px;
  }
}

.formPedido .linear{
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-color: #999999;
  -webkit-text-stroke-width: 1px;
}
.formPedido i{
    color: #999999;
    position: absolute;
    left: 10px;
    z-index: 5;
    top: 13px;
    font-size: 21px;
    width: 30px;
    text-align: center;
    align-items: center;
    
}

.formPedido .input-group>.form-control:not(:first-child), .formPedido .input-group>.custom-select:not(:first-child) {
    border-radius: 10px!important;
}

h6.oseparador {
    overflow: hidden;
    color:#999999;
}

h6.oseparador:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 50%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid #999999;
}

h6.oseparador:before {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 45%;
    margin-right: 0%;
    margin-left: 3px;
    border-top: 1px solid #999999;
}

.faq {
  .show {
      background-color: #eeeeee;
    }
  .card{
      :hover{
          background-color: #FFE799;
        }
    }
  .card-header {
      border: 1px solid #d8d4d4;
      border-radius: 0px;
      margin-top: 8px;
      background-color: #fff;
      text-align: left;
      button{
        color:#444!important;
        font-weight: bold;
        text-align: left;
        width: 100%;
        text-decoration: none;
      }
      
  }
}  
.square{
    border-radius: 20px;
    overflow: hidden;
    width: 30vw;
    height: 30vw;
    border: 1px solid #b3b3b3;
    img{
      min-height: 100%;
    }
}

.p-image .uploadbtn{
  position: absolute;
  width: 67vh;
  background: rgba(0,0,0,0);
  height: 67vh;
  top: 0;
  cursor:pointer;
  color: rgba(0,0,0,0);
}
.file-upload {
    display: none;
}

.list-group-item {
    background-color: #eee;
    border: 1px solid rgba(0,0,0,0.125);
    color: #747480!important;
    a, p{
      color: #747480!important;
    }
    a:hover{
      color:#ef4e35!important;
      text-decoration: none;
    }
}

footer a:hover{
    color: #444!important;
    text-decoration: none;
}
.bgstore{
      background-repeat: no-repeat;
      background-size: cover;
}
.infoAdd{
  font-size: 15px;
  img{
    width: 24px;
    margin-right: 5px;
  }
}

.scrollable{
  overflow: hidden;
  overflow: overlay;
  height: 205px;
}
.none {
    display:none;
}


input[type=checkbox] + label {
  color: #444;

} 
input[type=checkbox]:checked + label {
  color: #444;

}
input {
  height: 20px;
  width: 20px;
}

input:checked {
  height: 20px;
  width: 20px;
}

.form-check {
  padding-left: 0rem;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width: 0em;
  margin: 0;
  padding: 0;
  font-size: 0.3em;
  opacity: 0;
  border: 0.1em solid #717171;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display: inline-block;
  margin-left: 0em;
  line-height: 0em;
  width: 95%;
  border-radius: 15px;
  padding: 0px;
  margin: 0px 0px;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin: 0.02em 0.5em 0.02em 0.25em;
    border: 0.1em solid #39c979;
    border-radius: 50%;
    background: #ffffff;
    background-image: -moz-linear-gradient(#f0f0f0, #e0e0e0);
    background-image: -ms-linear-gradient(#f0f0f0, #e0e0e0);
    background-image: -o-linear-gradient(#f0f0f0, #e0e0e0);
    background-image: -webkit-linear-gradient(#f0f0f0, #e0e0e0);
    background-image: linear-gradient(#f0f0f0, #e0e0e0);
    vertical-align: middle;
}

input[type=checkbox]:not(old):checked + label ,
input[type=radio   ]:not(old):checked + label {
  // border: 0.1em solid #39c979;
  // padding: 6px;
  // margin: 0px -3px;
}
input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{

  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=radio]:not(old):checked + label > span:before{
  content: 'o';
  display: block;
  width: 0.68em;
  color: #39c979;
  font-size: 1.8em;
  line-height: 0.4em;
  text-align: center;
  text-shadow: 0 0 0.0714em #73994d;
  font-weight: bold;
}

input[type=radio]:not(old):checked + label > span > span{
  display: none;
  width: 0.5em;
  height: 0.5em;
  margin: 0.125em;
  border: 0.0625em solid #73994d;
  border-radius: 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

.formularioCompra,.formularioEntrega{
    h5 {
      text-align: center;
      color: #ea4335 !important;
      font-weight: 900;
    }

    h6{
      font-size: 17px;
      font-weight: 600;
      height: 18px;
      line-height: 2px;
      margin-bottom: 0px;
      margin-top: 10px;
      border-bottom: 1px solid #cacaca;
      color: #6c757d;
    } 
    
    span{
      font-size: 12px !important;
      width: 100%;
      display: inline-table;
      color: #cacaca;
      div{
        float:right;
        padding-right: 12px;
        color: #ea4335;
      }
    }
}

.toggleDetail{
  cursor: pointer;
  i{
    line-height: 8px;
  }
  .toggleContent{
    display:none;
  }
}
.active{
  .toggleContent{
    display:block;
    background-color: #f7f7f7;
    padding: 0px 10px 10px 10px;
  }
}
.modal-header {
    border-bottom: 1px solid #fff;
}

.rightcontent{
    width: 100%;
    text-align: block;
    /*border-bottom: 2px dashed #46464F;*/
    padding-bottom: 20px;
    margin-bottom: 10px;
    .form-control {
        padding: 0rem 0rem;
        input{

        }
    }
  }

  .modal-title{
    color: #2e2b2b !important;
    font-weight: bold;
  }



  /*404*/

  .error{
      background: #46464f;
      color:#fff;
      /*max-height:700px;*/
      overflow: hidden;
  }
  #error .c{
      text-align: center;
      display: block;
      position: relative;
      width:80%;
      margin:100px auto;
  }
  #error ._404{
      color:#fff;
      font-size: 220px;
      position: relative;
      display: inline-block;
      z-index: 2;
      height: 250px;
      letter-spacing: 15px;
  }
  #error ._1{
      text-align:center;
      display:block;
      position:relative;
      letter-spacing: 12px;
      font-size: 3em;
      color:#fff;
      line-height: 80%;
  }
  #error ._2{
      text-align:center;
      display:block;
      position: relative;
      font-size: 20px;
      color:#fff;
  }
  #error .text{
      font-size: 70px;
      text-align: center;
      position: relative;
      display: inline-block;
      margin: 19px 0px 0px 0px;
      /* top: 256.301px; */
      z-index: 3;
      width: 100%;
      line-height: 1.2em;
      display: inline-block;
  }
 
  #error .btn{
      background-color: rgb( 255, 255, 255 );
      position: relative;
      display: inline-block;
      width: 358px;
      padding: 5px;
      z-index: 5;
      font-size: 25px;
      margin:0 auto;
      color:#46464f;
      text-decoration: none;
      margin-right: 10px
  }
  #error .right{
      float:right;
      width:60%;
  }
  
  #error hr{
      padding: 0;
      border: none;
      border-top: 5px solid #fff;
      color: #fff;
      text-align: center;
      margin: 0px auto;
      width: 420px;
      height:10px;
      z-index: -10;
  }
  
  #error hr:after {
      display: inline-block;
      position: relative;
      top: -0.75em;
      font-size: 2em;
      padding: 0 0.2em;
  }
  
  #error .cloud {
      width: 350px; height: 120px;
      background: #FFF;
      background: linear-gradient(top, #FFF 100%);
      background: -webkit-linear-gradient(top, #FFF 100%);
      background: -moz-linear-gradient(top, #FFF 100%);
      background: -ms-linear-gradient(top, #FFF 100%);
      background: -o-linear-gradient(top, #FFF 100%);
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      position: absolute;
      margin: 120px auto 20px;
      z-index:-1;
      transition: ease 1s;
  }
  #error.cloud:after, #error .cloud:before {
      content: '';
      position: absolute;
      background: #FFF;
      z-index: -1
  }
  #error .cloud:after {
      width: 100px; height: 100px;
      top: -50px; left: 50px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
  }
  #error .cloud:before {
      width: 180px; height: 180px;
      top: -90px; right: 50px;
      border-radius: 200px;
      -webkit-border-radius: 200px;
      -moz-border-radius: 200px;
  }
  
  #error .x1 {
      top:-50px;
      left:100px;
      -webkit-transform: scale(0.3);
      -moz-transform: scale(0.3);
      transform: scale(0.3);
      opacity: 0.9;
      -webkit-animation: moveclouds 15s linear infinite;
      -moz-animation: moveclouds 15s linear infinite;
      -o-animation: moveclouds 15s linear infinite;
  }
  
  #error .x1_5{
      top:-80px;
      left:250px;
      -webkit-transform: scale(0.3);
      -moz-transform: scale(0.3);
      transform: scale(0.3);
      -webkit-animation: moveclouds 17s linear infinite;
      -moz-animation: moveclouds 17s linear infinite;
      -o-animation: moveclouds 17s linear infinite; 
  }
  #error .x2 {
      left: 250px;
      top:30px;
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 0.6; 
      -webkit-animation: moveclouds 25s linear infinite;
      -moz-animation: moveclouds 25s linear infinite;
      -o-animation: moveclouds 25s linear infinite;
  }
  #error .x3 {
      left: 250px; bottom: -70px;
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 0.8; 
      -webkit-animation: moveclouds 25s linear infinite;
      -moz-animation: moveclouds 25s linear infinite;
      -o-animation: moveclouds 25s linear infinite;
  }
  #error .x4 {
      left: 470px; botttom: 20px;
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      transform: scale(0.75);
      opacity: 0.75;
      -webkit-animation: moveclouds 18s linear infinite;
      -moz-animation: moveclouds 18s linear infinite;
      -o-animation: moveclouds 18s linear infinite;
  }
  #error .x5 {
      left: 200px; top: 300px;
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      transform: scale(0.5);
      opacity: 0.8; 
      -webkit-animation: moveclouds 20s linear infinite;
      -moz-animation: moveclouds 20s linear infinite;
      -o-animation: moveclouds 20s linear infinite;
  }
  @-webkit-keyframes moveclouds {
      0% {margin-left: 1000px;}
      100% {margin-left: -1000px;}
  }
  @-moz-keyframes moveclouds {
      0% {margin-left: 1000px;}
      100% {margin-left: -1000px;}
  }
  @-o-keyframes moveclouds {
      0% {margin-left: 1000px;}
      100% {margin-left: -1000px;}
  }

.badge-basic{
  background-color: #444;
  color: #fff;
  margin: 2px 0px; 
}
  
  /*LOGIN2*/

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.loginv2 {
  background: url("../img/bg2.png") ; 
  background-color: #444;
}

.loginv2 .card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.loginv2 .card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.loginv2 .card-signin .card-body {
  padding: 2rem;
}

.loginv2 .form-signin {
  width: 100%;
}

.loginv2 .form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.loginv2 .form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.loginv2 .form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.loginv2 .form-label-group>input,
.loginv2 .form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.loginv2 .form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50%;
  height: 0px;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.loginv2 .form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.loginv2 .form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.loginv2 .form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.loginv2 .form-label-group input::-moz-placeholder {
  color: transparent;
}

.loginv2 .form-label-group input::placeholder {
  color: transparent;
}

.loginv2 .form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 8));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.loginv2 .form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.loginv2 .card {
      background-color: rgba(255,255,255,0.4);
}
.loginv2 .btn-google {
  color: white;
  background-color: #ea4335;
}

.loginv2 .btn-facebook {
  color: white;
  background-color: #3b5998;
}

@media (min-width: 576px){
  .jumbotron {
      padding: 0rem 2rem;
  }
}

.btn-sm, .btn-group-sm>.btn {
  padding: .20rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.containerv2{
  padding: 0px 30px;
}

// SLIDER

#slider {
  height: 280px;
  margin: auto;
  position: relative;
  font-size: 15px;
  background-color: #46464f;
}

#slider .slides-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#slider .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

#slider .slide:first-child {
  display: block;
}

#slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slider .arrows a {
  position: absolute;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.65);
  top: 43%;
  left: 35px;
  font-weight: 400;
  line-height: 1;
  font-size: 42px;
}

#slider .arrows a:hover {
  color: #fff;
}

#slider .arrows a.next {
  left: initial;
  right: 35px;
}


.imgvisor {
  width: 100%;
}

.alertmod{

  .modal-header{
    background-color: #ea4335;
    height: 130px;
    border-radius: 1rem 1rem 0rem 0rem;
  }
  .modal-content {
    border-radius: 1rem;
  }
}

@media (min-width: 992px){

  .floatMenu {
    display: none;
    background-color: rgba(239,78,53,0.91);
    width: 220px;
    height: 256px;
    right: 0;
    top: 72px;
    position: absolute;
    text-decoration: none;
    list-style: none;
    padding: 19px 0px;
    font-weight: 500;
    color: #fff;
    &::before{
      content: "";
      position: absolute;
      top: -10px;
      right: 0px;
      width: 60px;
      height: 10px;
      background-color: rgba(239,78,53,0.9);
    }
    li{
      width: 100%;
      padding: 12px 15px;
      img{
        width: 35px;
        margin-left: 10px;
      }
      a{
        color: #fff;
      }
    }
    li:hover{
      background-color: rgba(231, 69, 44, 1);
      cursor: pointer;
      font-weight: 500;
    }
  }
  .floatMenuOption {
    position: relative;
  }
  
  .floatMenuOption span{
    padding-bottom: 30px;
  }
  .floatMenuOption:hover .floatMenu {
    display: block;
  }
  .nav-item a:hover > span i  {
    -webkit-text-fill-color: #46464F;
    -webkit-text-stroke-color: #ef4e35;
    -webkit-text-stroke-width: 1.50px;
  }

}

@media (max-width: 991px){
  .floatMenu img{
    display: none;
  }
  .floatMenu li {
    list-style: none;
  }
  .navbar-nav .nav-item {
    margin-top: 4px !important;
    padding-top: 4px !important;
  }
  .floatMenu a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    display: block;
  }
  .floatMenu a:hover {
    color: #ea4335;
  }
  .floatMenuOption .nav-link {
    display: none;
  }
}

// PROFILE
.profile .contentprof{
  .orangeline{
    border-top: 3px solid #ea4335;
  }
  .orangelinebtn{
    border-bottom: 3px solid #ea4335;
  }
  h4{
    margin-bottom: 0.1rem !important;
  }
  .sepProf{
    border-bottom: 1.5px dashed #dadada;
    margin-bottom: 40px;
  }
  .sectionProf{
    padding-bottom: 26px;
    padding-left: 20px;
    padding-right: 20px;
    
    
    label{
      line-height: 1em;
    }
    .input-group{
      padding: 15px 0px;
      .form-control {
        background-color: #efefef !important;
      }
     }
     p{
      margin-top: 0;
      margin-bottom: 0.1rem;
      color: #a5a5a5;
      font-size: 14px;
     }
  }
}

.profile .bgavatar:hover{
 
    background-image: url(../img/bgfondo.svg)!important;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 120%;
    height: 205px;
    width: 100v;
    padding-top: 30px;
    transform: scale(1.2);

}
.profile .sidebarprof{
 
  background-color: #fff;
  color: #fff;
  padding: 9px 0px 60px 15px;
  .bgavatar{
    background-image: url(../img/bgfondo03.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 130%;
    height: 205px;
    width: 100v;
    padding-top: 30px;
    transition: all .5s;
  }
  img {
      width: 70px;
      vertical-align: middle;
      border-style: none;
      border-radius: 50%;
  }
  h5{
    color:#fff !important;
    margin-bottom: 0.1rem;
  }
  p{
    font-size: 13px;
  }
  ul{
    text-align: left !important;
    li{
      display: block;
      padding: 10px 30px;
      margin-top:20px;
      font-size: 18px;
      a{
        color: #46464f;
        font-weight: 500;
      }
    }
    li:hover,.active{
      text-decoration: none;
      border-left: 5px solid #ea4335;
      color:#ea4335;
      cursor: pointer;
      a{
        color:#ea4335;
        text-decoration: none;
      }
    }
    
    
  }
}

#starevent .star-rating{
  // cursor: pointer;
  font-size: 19px;
  li:hover{
    color: #cc3b25;
  }
  .active{
    color: #ea4335;
  }
}

#starevent .star-rating-click{
  cursor: pointer;
  font-size: 22px;
  li:hover{
    color: #cc3b25;
  }
  .active{
    color: #ea4335;
  }
}

.text-input {
  background-color: #efefef !important;
}

.text-input {
  padding: 0.375rem 0.7rem;
  border-radius: 12px;
  // height: 40px;
}

.modal { overflow-y: auto }

.baseCarrito{
  padding: 20px 0px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 3px solid #b5b5b5;
  background-color: #f7f7f7;
}